/* Make full screen */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Full screen blue background */
body.full {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfe3ff;
    font-family: Arial, sans-serif;
}

/* Center white box */
.container {
    width: 90%;
    max-width: 1000px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}

/* Textarea */
textarea {
    width: 100%;
    height: 180px;
    font-size: 18px;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #ccc;
    outline: none;
    margin-top: 20px;
}

/* Predict button */
button {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #4b6aff;
    color: white;
    cursor: pointer;
}

/* Back button */
.back-btn {
    text-decoration: none;
    background: #4b6aff;
    padding: 12px 25px;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}
